.add-user-form {
    width: 50%;
    height: 30%;
    border: 2px solid black;
    border-radius: 12px;
    position: absolute;
    top: 30%;
    left: 25%;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
}

.user-info {
    margin-bottom: 20px;
}

.picture {

    border-radius: 50%;
    margin-top: 10px;
}
.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.bio {
    font-size: .8rem;
}

.friends-section {
    border: 1px solid #000000;
    border-radius: 8px;
    padding-top: 10px;
    margin-left: 23%;
    margin-right: 30%;
    margin-bottom: 40px;
    background-color: #F6F6F6;
    

    .view-button {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .friend {
        border-radius: 8px;
        padding-top: 5px;
        padding-right: 3%;
        padding-left: 5px;
        margin-left: 2%;
        margin-bottom: 7px;
        background-color: #FFFFFF;
        height: 60px;
        
        .name {
            display: inline-block;
            margin-bottom: 10px;
            font-size: 10px;
        }

        .picture {
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }

    
}

.music-section {
    display: inline-block;
    margin-right: 25%;
    margin-left: 10%;
    width: 400px;
    overflow-y: scroll;
    z-index: 0;
}

.artist {
    border: 1px solid #000000;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;

    .jc-center {
        display: flex;
        justify-content: center;
    }

    .list {
        align-self: flex-start;
    }

    .picture {
        border-radius: 0;
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    .name {
        margin-bottom: 10px;
        font-size: .5rem;
    }

    .upvote-icon {
        cursor: pointer;
    }
}

.track {
    border: 1px solid #000000;
    // display: inline-block;
    display: block;
    // padding: 5px;
    margin-top: 7px;
    border-radius: 3px;
    position: relative;
    margin-right: 7px;

    // .as-center {
    //     display: flex;
    //     // align-self: center;
    //     align-content: center;
    // }

    .picture {
        border-radius: 0px;
        margin-bottom: 0;
        margin-right: 17px;
        // margin-left: 2px;
    }

    .title {
        display: inline-block;
        margin-right: 110px;
        margin-top: 5px;
        font-size: .5rem;
    }

    .upvote-icon {
        position: absolute;
        top: 27%;
        right: 70px;
        cursor: pointer;
    }

    .explicit-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.user-profile {

    .left-side {
        position: fixed;
        top: 80px;
        background: white;
        width: 40%;
        height: 100%;
        // margin-right: 40%;
        // display: inline-block;
    }

    .right-side {
        position: absolute;
        top: 180px;
        right: 10%;
        display: inline-block;
    }
}