#home {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sign-up-btn {
    width: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.sign-up-btn:hover {
    background-color: orange;
}