.result {
    margin-bottom: 10px;
    background-color: #C4C4C4;
    margin-left: 30%;
    margin-right: 30%;
}

.header {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 30px;
}

.description {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
}

.add-icon {
    position: absolute;
    right: 30px;
    top: 45%;
}

.add-icon:hover {
    cursor: pointer;
}

.picture {
    position: absolute;
    left: 30px;
    top: 35%;
}